body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #ffffff;
  background: #17191C;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-box-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.main-page-wrapper {
  background: url("./img/back1.png") center top no-repeat, url("./img/back2.png") center bottom 150px no-repeat;
}

p {
  margin-top: 0;
}


.container {
  margin: 0 auto;
  width: 1141px;
}


.header {
  height: 103px;
  position: relative;
  margin-bottom: 96px;
}

.logo {
  display: block;
  position: absolute;
  top: 13px;
  left: 0;
  font-size: 24px;
  text-decoration: none;
  background: linear-gradient(60deg, #8F00FF 20%, #00A3FF 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
  position: absolute;
  top: 27px;
  left: 421px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 62px;
}

.menu__link {
  font-size: 16px;
  text-decoration: none;
}

.menu__link:hover {
  color: #8F00FF;
}

.contacts {
  position: absolute;
  text-align: right;
  top: 18px;
  right: 0px;
  font-style: normal;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__info {
  color: #98A4A8;
  font-size: 13px;
  line-height: 6px;
  margin-right: 3px;
}

.contacts__desc {
  font-size: 11px;
}

.contacts__info:hover {
  color: #ffffff;
  text-decoration: underline;
}

.hero__content {
  width: 637px;
  margin-bottom: 189px;
}

.hero__title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.09;
  margin-bottom: 22px;
}
.hero__subtitle {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.2;
  margin-bottom: 76px;
  margin-left: 3px;
}

.button {
  background: #8F00FF;
  text-decoration: none;
  border-radius: 4px;
  padding: 17px 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.button:hover {
  background: #741BBA
}

.button .button__light--active {
  color: #8F00FF;
}


.news {
  margin-bottom: 126px;
}

.section__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
  display: inline-block;
}

.news__item {
  min-height: 449px;
  background: #ffffff;
  border-radius: 7px;
  display: inline-block;
  margin-right: 22px;
  width: 361px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__header {
  min-height: 144px;
  margin-bottom: 8px;
  width: 362px;
  background: #150A18;
}

.news__img {
  display: block;
  margin: 0 auto;
}

.news__content {
  padding: 26px 21px;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 21px;
  color: #000000;
}

.news__feature {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  width: 152px;
}

.news__feature-icon {
  float: left;
  margin-right: 10px;
}

.news__feature:last-child {
  margin-right: 0;
}
 
.news__feature-text {
  color: #666666;
}

.news__text {
  color: #303030;
  font-size: 14px;
  margin-bottom: 24px;
  margin-top: 23px;
  line-height: 1.5;
}

.button__light {
  color: #8F00FF;
  background: none;
  border: 1px solid #8F00FF;
  padding: 17px 30px;
}

.button__light--color--ginger {
  color: #ffffff;
  background: #8F00FF;
  padding: 17px 30px;
}

.button__light:hover {
  color: #ffffff;
  background: #8F00FF;
}

.button__light:active {
  color: #ffffff;
  background: #741BBA;
}


.title__pastgames {
  font-size: 36px;
  margin-bottom: 50px;
}

.pastgames__item {
  width: 555px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 21px;
}

.pastgames__item:last-child {
  margin-right: 0px;
}


.pastgames__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  overflow: hidden;
}

.pastgames__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 26px 29px;
  min-height: 110px;
  font-size: 14px;
}

.pastgames__title {
  margin-top: 14px;
  margin-bottom: 4px;
  font-size: 24px;
}

.pastgames__text {
  font-style: 16px;
  margin-left: 1px;
  margin-bottom: 0;
  letter-spacing: 1.05px;
  line-height: 1.5;
}

.pager {
  text-align: center;
  margin-top: 53px;
  margin-bottom: 53px;

}

.pager__display, .pager__list {
  display: inline-block;
  vertical-align: middle;
}

.pager__display {
  margin-right: 26px;
  font-weight: bold;
}

.pager__item {
  display: inline-block;
  vertical-align: middle;
}

.pager__item--active {
  background: #8F00FF;
  border-radius: 50%;
}

.pager___link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.pager___link:hover {
  background: #8F00FF;
  border-radius: 50%;
}

.pager___link:active {
  background: #741BBA;
  border-radius: 50%;
}

.about:before,  .about__desc{
  display: inline-block;
  vertical-align: top;
}

.about:before {
  content: "";
  margin-top: 93px;
  margin-bottom: 102px;
  width: 489px;
  height: 505px;
  background: url("./img/mask-group.png") center center / cover no-repeat;
}

.about__desc {
  background: linear-gradient(60deg, #8F00FF 20%, #00A3FF 95%);
  padding: 69px 202px 66px 81px;
  width: 785px;
  margin-left: -141px;
  margin-top: 190px;
  border-radius: 4px;

}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
}

.about__desc-text {
  margin-bottom: 44px;
  line-height: 1.64;
}

.about__desc .button__light {
  color: #fff;
  border: 1px solid #fff;
  padding: 17px 39px;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text p:last-child {
  margin-bottom: 0;

}

.footer-container__content {
  border-top: 1px solid #353538;
}

.footer {
  margin-top: 29px;
  height: 115px;
  position: relative;
}

.footer .menu {
  left: 290px;
}  

.socials {
  position: absolute;
  top: 22px;
  right: 267px;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__item--icon--telegram .socials__link {
  background:  url(".//img/telegram.png");
}

.socials__item--icon--vk .socials__link {
  background:  url(".//img/vk.png");
}

.socials__item--icon--fb .socials__link {
  background:  url(".//img/fb.png");
}

.socials__item--icon--inst .socials__link {
  background:  url(".//img/inst.png");
}